.experience {
    @include breakpoint(sm) {
        display: flex;
    }
}

.experience-card {
    height: auto;

    @include breakpoint(sm) {
        display: flex;
    }

    .experience-card__content {
        height: auto;
        width: 100%;
        border-bottom: 1px solid lightgrey;
        padding: 10px 0;
    }
}

.experience:first-child {
    .experience-card__content {
        @include breakpoint(sm) {
            border-top: 1px solid lightgrey;
        }
    }

    &:first-of-type {
        @include breakpoint(xs) {
            border-top: 1px solid lightgrey;
        }
    }
}
