header {

    .header-content {
        color: white;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-content: center;

        .header-content__bio {
            margin: auto;

            h1 {
                animation-name: floating;
                animation-duration: 20s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            p {
                font-weight: 400;
                font-size: 1em;
                letter-spacing: 0.3px;
            }

            @include breakpoint(sm) {
                font-size: 1.3em;
            }
        }
    }
}
